@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@model Craps.Models.HomeModel

<div>@Model.UserName</div>

<div>@Model.CrapsResultModel.GameStatus</div>
<div>@Model.CrapsResultModel.FirstRollValue</div>
<div>@Model.CrapsResultModel.SecondRollValue</div>
<div>@Model.CrapsResultModel.RollSum</div>

@using (Html.BeginForm("PlayCraps", "Home", FormMethod.Post))
{
    @Html.Hidden("UserName", Model.UserName)
    @Html.Hidden("UserId", Model.UserId)
    <button type="submit">PlayCraps</button>
}

@using (Html.BeginForm("NavigateViewCrapsRecord", "Home", FormMethod.Post)) //"ViewCrapsRecord", "NavigateViewCrapsRecord", "Home"
{
    @Html.Hidden("UserName", Model.UserName)
    @Html.Hidden("UserId", Model.UserId)
<button type="submit">NavigateViewCrapsRecord</button>
}


